@font-face {
    font-family: Karma;
    src: url('../fonts/Karma/Karma-Medium.woff2') format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Arquitecta;
    src: url('../fonts/Arquitecta/ArquitectaBook/font.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Arquitecta;
    src: url('../fonts/Arquitecta/ArquitectaBold/font.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Arquitecta;
    src: url('../fonts/Arquitecta/ArquitectaBlack/font.woff2') format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Arquitecta;
    src: url('../fonts/Arquitecta/ArquitectaMedium/font.woff2') format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}
