/* variables */


/* colors */

$red: #e1302b;
$black: #000000;
$dark-blue: #181818;
$white: #ffffff;
$gray: #948274;

/* templates */

%karmafont {
    font-family: Karma, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    color: $red;
}
