@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';
// Header
header {
    .navbar {
        padding-top: 0;
    }
    .nav-item {
        .nav-link {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 13px;
            color: var(--bs-white);
        }
    }
    .red-square {
        display: flex;
        justify-content: center;
        background-color: #e1302b;
        width: 220px;
        height: 110px;
        .navbar-brand {
            width: 120px;
            margin-right: 0;
            img {
                position: absolute;
                top: 50px;
            }
        }
    }
}

// main
main {
    .slider {
        .slick-list {
            .slick-track {
                display: flex;
                align-items: flex-start;
            }
        }
        .slick-dots {
            position: absolute;
            left: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translate(-50%, -50px);
            li {
                list-style: none;
                margin: 0 4px;
                &.slick-active button {
                    transform: scale(2);
                }
            }
            button {
                font-size: 0;
                width: 4px;
                height: 4px;
                background-color: var(--bs-white);
                border-radius: 50%;
                border: 0;
                padding: 0;
            }
        }
    }
}

.container-fluid {
    padding: 0;
}

// top slider
.top-slider {
    .slick-track {
        .slider__item {
            height: 90vh;
            min-height: 600px;
            display: flex;
            align-items: center;
        }
        .item-1,
        .item-2,
        .item-3 {
            background-image: url('../images/img/Banner_Desktop_Gallo_Ensaladas.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top left;
            h1 {
                position: absolute;
                width: 100%;
                max-width: 1280px;
                padding-right: 50%;
                padding-left: 2%;
                text-transform: uppercase;
                font-size: 80px;
                font-weight: 900;
                text-align: left;
                line-height: 1;
                color: var(--bs-white);
                z-index: 1;
            }
        }
        .item-2 {
            background-image: url('../images/img/Banner_Desktop_Gallo.jpg');
        }
        .item-3 {
            background-image: url('../images/img/home_slider_desktop.jpg');
            justify-content: center;
            h1 {
                padding-right: 0;
                text-align: center;
                max-width: 690px;
                padding-left: 1px;
            }
        }
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, .51), rgba(27, 11, 0, .39) 20%, rgba(31, 13, 0, .04) 75%, rgba(32, 14, 0, .04) 89%, rgba(33, 14, 0, 0) 98%);
            position: absolute;
            z-index: 0;
        }
    }
}

// Product slider
.product-carousel {
    padding-top: 60px;
    padding-bottom: 40px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url('../images/img/fondo_detalleproducto_desktop.jpg');
    h3 {
        font-family: Karma, sans-serif;
        font-size: 30px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 10px;
        color: #e1302b;
    }
    h2 {
        margin-bottom: 60px;
        text-transform: uppercase;
        font-size: 60px;
        font-weight: 900;
        line-height: .8;
    }
    .product-slider {
        position: relative;
        .slick-track {
            margin-bottom: 60px;
            .slick-slide {
                margin-right: 150px;
                .card {
                    background-color: transparent;
                    border: 0;
                    filter: blur(4px);
                    transition: all 0.3s ease 0s;
                    .card-body {
                        opacity: 0;
                        transition: all 0.3s ease 0s;
                        .btn {
                            opacity: 0;
                            transition: all 0.3s ease 0s;
                        }
                    }
                    img {
                        max-width: 560px;
                        margin-bottom: -25px;
                        vertical-align: middle;
                    }
                    .card-body {
                        h4 {
                            text-transform: uppercase;
                            font-size: 24px;
                            font-weight: 900;
                            line-height: .83;
                        }
                        .btn {
                            font-size: 16px;
                            font-weight: 900;
                            padding: 5px 15px;
                            color: var(--bs-white);
                            background-color: #e1302b;
                            text-transform: uppercase;
                            border-radius: 0;
                        }
                    }
                }
            }
            .slick-current {
                .card {
                    filter: blur(0);
                    transform: scale(1.1);
                    .card-body {
                        opacity: 1;
                        .btn {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .slick-dots {
            transform: translate(-50%, -30px);
            button {
                background-color: #e1302b!important;
            }
        }
        .slick-arrow {
            position: absolute;
            top: 30%;
            z-index: 10;
            font-size: 0;
            width: 80px;
            height: 80px;
            border: 0;
        }
        .slick-prev {
            left: 21%;
            background: url('../images/img/btn-flechaizq-rojo.png') 0 0 / 100% no-repeat;
        }
        .slick-next {
            right: 21%;
            background: url('../images/img/btn-flechader-rojo.png') 0 0 / 100% no-repeat;
        }
        .slick-arrow.slick-disabled {
            opacity: .35;
            cursor: auto;
            pointer-events: none;
        }
    }
}

.footer {
    background-color: #181818;
    padding-top: 50px;
    padding-bottom: 110px;
    z-index: 3;
    position: relative;
    &__info {
        margin: 0 auto 85px;
        color: #e1302b;
        text-align: left;
        h4 {
            font-size: 12px;
            font-weight: 900;
            letter-spacing: 1.71px;
            color: var(--bs-white);
            text-transform: uppercase;
            margin-bottom: 25px;
        }
        &__menu {
            ul {
                list-style: none;
                padding: 0;
                margin-bottom: 1rem;
                a {
                    display: block;
                    font-size: 11px;
                    font-weight: 900;
                    letter-spacing: 1px;
                    color: #948274;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    &.phone {
                        font-size: 20px;
                        font-weight: 700;
                        letter-spacing: 1.82px;
                        color: #fff;
                        margin-top: -5px;
                    }
                }
            }
            &__social {
                a {
                    margin-right: 20px;
                    img {
                        width: 23px;
                        height: 23px;
                    }
                }
            }
        }
    }
    &__privacy {
        &__menu {
            flex-flow: row wrap;
            ul {
                list-style: none;
                margin-bottom: 1rem;
                a {
                    font-size: 13px;
                    font-weight: 500;
                    letter-spacing: 1.18px;
                    color: var(--bs-white);
                    display: block;
                    padding: 0 20px;
                    text-transform: none;
                }
                li:not(:last-child) {
                    border-right: 1px solid var(--bs-white);
                }
            }
        }
        .copyright {
            letter-spacing: 1.18px;
            color: var(--bs-white);
            font-size: 11px;
            font-weight: 500;
            flex: 1;
            text-align: right;
        }
    }
}

@media (max-width: 1200px) {
    main {
        .top-slider {
            .item-1 {
                background-position: top right!important;
            }
        }
    }
    .footer {
        padding-bottom: 50px;
        &__info {
            text-align: center;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 45px;
            h4 {
                margin-bottom: 10px;
            }
            &__menu {
                ul {
                    margin-bottom: 35px;
                }
                &__social {
                    justify-content: center;
                    transform: translateX(10px);
                }
            }
        }
        &__privacy {
            &__menu {
                padding-bottom: 20px;
                ul {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    li {
                        border-right: none!important;
                        a {
                            padding: 0;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            .copyright {
                text-align: center;
            }
        }
    }
}
